@model Author

    <div class="col-sm-4 col-lg-4 col-md-4" style="padding:5px">
        <div class="card">
            <div class="card-header">
                <p class="card-title">@Model.Name</p>
            </div>

            <div class="card-body">
                <h2>Book Count: @Model.Books?.Count</h2>
                <div class="btn-group">
                    @if (Model.Books?.Count == 0)
                    {
                        <a class="btn btn-default" asp-area="">View Book List</a>
                    }
                    else
                    {
                        <a class="btn btn-info" asp-area="" asp-controller="Book" asp-action="List" asp-all-route-authorId="@Model.AuthorId">View Book List</a>
                    }
                    <a class="btn btn-info" asp-area="" asp-controller="Author" asp-action="Update" asp-route-id="@Model.AuthorId">Edit</a>
                    <a class="btn btn-danger" asp-area="" asp-controller="Author" asp-action="Delete" asp-route-id="@Model.AuthorId">Delete</a>
                </div>
            </div>

        </div>
    </div>